{% extends "base.html" %}
{% block title %}Funcionários{% endblock %}

{% block content %}

<div class="header-page">
    <h1>Funcionários</h1>
    <a class="btn-primary" href="{{ url_for('funcionario_novo') }}">
        + Novo funcionário
    </a>
</div>

<div class="card tabela-card">

    <table class="tabela">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Usuário</th>
                <th>Função</th>
                <th>Sexo</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for f in dados %}
            <tr>
                <td>#{{ f.id }}</td>
                <td class="nome">{{ f.nome_completo }}</td>
                <td>{{ f.usuario }}</td>

                <td>
                    <span class="badge-funcao {{ f.funcao }}">
                        {{ f.funcao }}
                    </span>
                </td>

                <td>{{ f.sexo or '-' }}</td>

                <td class="acoes">
                    <a href="{{ url_for('funcionarios_editar', id=f.id) }}" class="btn-icon editar">
                        ✏️
                    </a>

                    <form action="{{ url_for('funcionarios_excluir', id=f.id) }}" method="POST">
                        <button type="submit" class="btn-icon excluir">
                            🗑️
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}