{% extends "base.html" %}
{% block title %}Painel de Pacientes{% endblock %}

{% block content %}

<h2 class="titulo">Pacientes</h2>

<div class="cards-pacientes">

    {% for paciente in dados %}
    <div class="card paciente-card"
         onclick="mostrarModal(this)"

         data-nome="{{ paciente.nome_completo or 'Não informado' }}"
         data-id="{{ paciente.id }}"
         data-nascimento="{{ paciente.data_nascimento or 'Não informado' }}"
         data-sexo="{{ paciente.sexo or 'Não informado' }}"
         data-contato="{{ paciente.contato or 'Não informado' }}"
         data-documento="{{ paciente.cpf or 'Não informado' }}"

         data-plano="{{ paciente.plano or 'Não informado' }}"
         data-atendimento="{{ paciente.atendimento or 'Não informado' }}"
         data-chegada="{{ paciente.horario_chegada or 'Não informado' }}"

         data-urgencia_triagem="{{ paciente.triagem.urgencia_triagem if paciente.triagem else 'Normal' }}"
         data-queixa="{{ paciente.triagem.queixa_principal if paciente.triagem else 'Não informado' }}"
         data-pressao_arterial="{{ paciente.triagem.pressao_arterial if paciente.triagem else 'Não informado' }}"
         data-saturacao="{{ paciente.triagem.saturacao if paciente.triagem else 'Não informado' }}"

         data-diagnostico="{{ paciente.medico.diagnostico if paciente.medico else 'Não informado' }}"
         data-prescricao="{{ paciente.medico.prescricao if paciente.medico else 'Não informado' }}"
    >

        <div class="card-top">
            <h3>{{ paciente.nome_completo or 'Sem nome' }}</h3>

            <span class="badge {{ paciente.triagem.urgencia_triagem if paciente.triagem else 'normal' }}">
                {{ paciente.triagem.urgencia_triagem if paciente.triagem else 'Normal' }}
            </span>
        </div>

        <p class="info">
            <strong>Nascimento:</strong>
            {{ paciente.data_nascimento or 'Não informado' }}
        </p>

        <p class="info">
            <strong>Diagnóstico:</strong>
            {{ paciente.medico.diagnostico if paciente.medico else '—' }}
        </p>

    </div>
    {% endfor %}

</div>

<!-- OVERLAY -->
<div id="modalOverlay" class="modal-overlay" onclick="fecharModal()"></div>

<!-- MODAL -->
<div id="modalPaciente" class="modal-custom">

    <div class="modal-header-custom">
        <h3>Detalhes do Paciente</h3>
        <button class="close-btn" onclick="fecharModal()">×</button>
    </div>

    <div class="modal-body-custom">

        <h2 id="nomePaciente"></h2>

        <div class="secao">
            <h3>🧑 Informações Básicas</h3>
            <p><strong>ID:</strong> <span id="idPaciente"></span></p>
            <p><strong>Nascimento:</strong> <span id="nascPaciente"></span></p>
            <p><strong>Sexo:</strong> <span id="sexoPaciente"></span></p>
            <p><strong>Contato:</strong> <span id="contatoPaciente"></span></p>
        </div>

        <div class="secao">
            <h3>🧾 Recepção</h3>
            <p><strong>Plano:</strong> <span id="planoPaciente"></span></p>
            <p><strong>Atendimento:</strong> <span id="atendimentoPaciente"></span></p>
            <p><strong>Chegada:</strong> <span id="chegadaPaciente"></span></p>
        </div>

        <div class="secao">
            <h3>🩺 Triagem</h3>
            <p><strong>Urgência:</strong> <span id="urgencia_triagemPaciente"></span></p>
            <p><strong>Queixa:</strong> <span id="queixaPaciente"></span></p>
            <p><strong>Pressão:</strong> <span id="pressao_arterialPaciente"></span></p>
            <p><strong>Saturação:</strong> <span id="saturacaoPaciente"></span></p>
        </div>

        <div class="secao">
            <h3>👨‍⚕️ Médico</h3>
            <p><strong>Diagnóstico:</strong> <span id="diagnosticoPaciente"></span></p>
            <p><strong>Prescrição:</strong> <span id="prescricaoPaciente"></span></p>
        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='js/modal.js') }}"></script>

{% endblock %}